### Predict Annual spending of a user on an E-commerce

In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.chdir('D:\\prasad\\practice\\My Working Projects\\Predict Annual spending of a user on an E-commerce')

In [3]:
df=pd.read_csv('Ecommerce Customers.csv')

In [4]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [5]:
df.shape

(500, 8)

In [6]:
df.drop(df.iloc[:,0:3],axis=1,inplace=True)

In [7]:
df.head()

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,34.497268,12.655651,39.577668,4.082621,587.951054
1,31.926272,11.109461,37.268959,2.664034,392.204933
2,33.000915,11.330278,37.110597,4.104543,487.547505
3,34.305557,13.717514,36.721283,3.120179,581.852344
4,33.330673,12.795189,37.536653,4.446308,599.406092

In [8]:
df.shape

(500, 5)

In [9]:
df.isnull().sum()

Avg. Session Length     0
Time on App             0
Time on Website         0
Length of Membership    0
Yearly Amount Spent     0
dtype: int64

In [10]:
X=df.iloc[:,:-1]

In [11]:
y=df.iloc[:,-1]

In [12]:
from sklearn.model_selection import train_test_split,cross_val_score

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((400, 4), (100, 4), (400,), (100,))

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from xgboost import XGBRFRegressor
from sklearn.neighbors import KNeighborsRegressor

In [16]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler,OneHotEncoder
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,confusion_matrix,classification_report,accuracy_score

In [17]:
def check_model(model,X_train,X_test,y_train,y_test):
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print('r2_score: ',r2_score(y_test,y_pred))

In [18]:
check_model(LinearRegression(),X_train,X_test,y_train,y_test)

r2_score:  0.9778130629184125

In [19]:
check_model(RandomForestRegressor(),X_train,X_test,y_train,y_test)

r2_score:  0.9300289454173288

In [20]:
check_model(DecisionTreeRegressor(),X_train,X_test,y_train,y_test)

r2_score:  0.8577701547293313

In [21]:
check_model(SVR(),X_train,X_test,y_train,y_test)

r2_score:  -0.014730528034040846

In [22]:
check_model(XGBRFRegressor(),X_train,X_test,y_train,y_test)

r2_score:  0.9196731932848974

In [23]:
check_model(KNeighborsRegressor(),X_train,X_test,y_train,y_test)

r2_score:  0.9059686210818881

In [24]:
lr=LinearRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)
print('r2_score:',r2_score(y_test,y_pred))

r2_score: 0.9778130629184125

In [25]:
lr.predict([[32.808698,12.817113,37.031539,3.851579]])

array([542.5332763])

In [26]:
y_pred[:5]

array([402.86230051, 542.53325708, 426.62011918, 501.91386363,
       409.6666551 ])

In [27]:
y_test[:5]

361    401.033135
73     534.777188
374    418.602742
155    503.978379
104    410.069611
Name: Yearly Amount Spent, dtype: float64

In [28]:
sc=MinMaxScaler()

In [29]:
X_train_sc=sc.fit_transform(X_train)
X_test_sc=sc.fit_transform(X_test)

In [30]:
X_train_sc=pd.DataFrame(X_train_sc,columns=X_train.columns)
X_test_sc=pd.DataFrame(X_test_sc,columns=X_test.columns)

In [31]:
X_train_sc.shape,X_train.shape

((400, 4), (400, 4))

In [32]:
lr=LinearRegression()

In [33]:
lr.fit(X_train_sc,y_train)
y_pred=lr.predict(X_test_sc)
print('r2_score:',r2_score(y_test,y_pred))

r2_score: 0.5894035107487361

In [34]:
new_df=pd.DataFrame(y_test)

In [35]:
new_df['Predict']=y_pred

In [36]:
new_df

     Yearly Amount Spent     Predict
361           401.033135  416.883760
73            534.777188  593.750601
374           418.602742  463.367559
155           503.978379  527.731523
104           410.069611  427.322606
..                   ...         ...
347           593.156401  671.359690
86            487.379306  497.478709
75            478.719357  476.041065
438           392.992256  413.461967
15            461.780742  479.606506

[100 rows x 2 columns]

In [37]:
cv=cross_val_score(LinearRegression(),X_train,y_train,cv=10)
print('n_splits:',cv)
print('average:',np.average(cv))

n_splits: [0.98815623 0.98642615 0.98463333 0.98730184 0.98269726 0.98379317
 0.97407847 0.98982831 0.98650915 0.97831101]
average: 0.9841734928694621

In [38]:
cv=cross_val_score(LinearRegression(),X_train_sc,y_train,cv=10)
print('n_splits:',cv)
print('average:',np.average(cv))

n_splits: [0.98815623 0.98642615 0.98463333 0.98730184 0.98269726 0.98379317
 0.97407847 0.98982831 0.98650915 0.97831101]
average: 0.9841734928694621

### Final Model

In [39]:
lr=LinearRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)
print('r2_score:',r2_score(y_test,y_pred))
print('MSE:',mean_squared_error(y_test,y_pred))
print('MAE:',mean_absolute_error(y_test,y_pred))
print('RMSE:',np.sqrt(mean_squared_error(y_test,y_pred)))

r2_score: 0.9778130629184125
MSE: 109.86374118394055
MAE: 8.558441885315245
RMSE: 10.481590584636502

In [40]:
lr.score(X_train,y_train)

0.9854240629700333

In [41]:
lr.score(X_test,y_test)

0.9778130629184126

In [42]:
cv=cross_val_score(LinearRegression(),X_train,y_train)
print('Splits',cv)
print('Average',np.average(cv))

Splits [0.98720948 0.98583208 0.98345934 0.98504677 0.98288566]
Average 0.9848866677232957

### Save Model in Pickle & Joblib

In [43]:
import pickle
import joblib

In [44]:
pickle.dump(lr,open('lr.pickle','wb'))

In [45]:
joblib.dump(lr,'lr.joblib')

['lr.joblib']

#### Load Model Pickle

In [46]:
model=pickle.load(open('lr.pickle','rb'))

In [48]:
y_pred=model.predict(X_test)

In [49]:
r2_score(y_test,y_pred)

0.9778130629184125

In [50]:
model.score(X_test,y_test)

0.9778130629184126

In [51]:
model.score(X_train,y_train)

0.9854240629700333

#### Load Joblib Model

In [52]:
model_job=joblib.load('lr.joblib')

In [54]:
model.score(X_test,y_test)

0.9778130629184126

In [55]:
model.score(X_train,y_train)

0.9854240629700333